body {
  background-color: rgb(247, 220, 162);
}

#heading {
  text-align: center;
  background-color: rgb(112, 53, 53);
  color: white;
  padding: 5px;
}

h4 {
  text-align: center;
}

.card-columns {
  border: 1px solid black;
  margin-top: 5px;
  padding: 3px;
  width: 50rem;
}

.card1,
.card2,
.card3 {
  background-color: rgb(200, 202, 185);
  margin-top: 5px;
  border-radius: 10px;
}
